* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
header {
  background: #fff;
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
nav ul li a:hover {
  color: #007bff;
}

section {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.menu-item {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-header h2 {
  font-size: 30px;
  font-weight: 500;
  font-weight: bold;
}
.card .card-body {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: center;
  font-size: 20px;
}
.card .card-body .card-body-left {
  display: flex;
  align-items: center;
}
.card .card-body .card-body-left img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.card .card-body .card-body-right {
  display: flex;
  align-items: center;
  margin: 0 20px;
  flex-direction: column;
}
.card .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-footer .price {
  font-size: 30px;
  font-weight: 500;
  font-weight: bold;
  margin-right: 10px;
}

.card .card-footer button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
/* create a sticky cart display in the upper righthand corner */
.cart {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.cart .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.cart .cart-header h2 {
  font-size: 30px;
  font-weight: 500;
  font-weight: bold;
}
.cart .cart-header button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.cart .cart-header button:hover {
  background: #0069d9;
}
.cart .cart-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
